 <!--section-->
 <div class="margin">
    <div class="container text-center">
        <h4 class="display-4">Sections</h4>
    </div>
</div>
<div class="container mb-5 minH  ">
    <div class="row mt-4  ">
        <div class="col-12 col-md-4 mb-3 mb-sm-0   p-1">
            <div class="card-body d-flex justify-content-center p-2 rounded">
                <div class="card shadow-lg">
                    <div class="content">
                        <a [routerLink]="['/Exams']" class="heading" style="width: 226px; height: 180px;">
                            DSI
                        </a >

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-sm-0   p-1">
            <div class="card-body d-flex justify-content-center p-2 rounded">
                <div class="card shadow-lg">
                    <div class="content">
                        <a [routerLink]="['/Exams']"  class="heading" style="width: 226px; height: 180px;">
                            RSI
                        </a >

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-sm-0   p-1">
            <div class="card-body d-flex justify-content-center p-2 rounded">
                <div class="card shadow-lg">
                    <div class="content">
                        <a [routerLink]="['/Exams']"  class="heading" style="width: 226px; height: 180px;">
                            SEM
                        </a >

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
