.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

.navbar-brand img {
    transition: transform 0.3s ease; 
}

.navbar-brand img:hover {
    transform: scale(1.3); 
}

.nav-link {
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #007090;
}

.nav-link.active {
    font-weight: bold;
}

.dropdown-menu {
    border-radius: 0.7rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}

.dropdown-item:hover {
    background-color: #dbdada; 
}

.dropdown-header {
    color: #6c757d; 
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Bouton "AddFile" */
.btn-outline-dark {
    transition: background-color 0.5s ease, color 0.3s ease;
}

html,body{

  background-size: cover;
  height: 100%; 
    margin: 0;
    padding: 0;
  
}
body{
  font-family: 'Arima Madurai', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.cards {
  --bg-card: #27272a;
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;


  width: 14rem;
  background-color: var(--bg-card);
  border-radius: 1rem;
}

.image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 8rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  fill: var(--light);
}

.title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.size {
  font-size: 0.75rem;
  color: var(--light);
}

.list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-top: 0.25rem;
}

.list-size .item-list {
  list-style: none;
}

.list-size .item-list-button {
  cursor: pointer;

  padding: 0.5rem;
  background-color: var(--zinc-800);

  font-size: 0.75rem;
  color: var(--light);

  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;

  transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
  border: 2px solid var(--light);
}
.item-list-button:focus {
  background-color: var(--primary);

  border: 2px solid var(--primary-shadow);

  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light);
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #EEE82C;
  background-color: #007090;
  overflow: hidden;
  border-radius: 10px;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #006989;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: #08090A;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #146c54;
}

.button:active {
  border: 1px solid #146c54;
}
.all{
  margin-top: 100px;
}
.bg{
    background-color: #007090;
}