<div class="container-fluid h-custom my-5 minH">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div
            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
          >
            <p class="lead fw-bold fs-1 mb-0 me-3 text-center w-100">SignUp </p>
      
          </div>

          <div class="divider d-flex align-items-center my-4">
          </div>

          
          <div data-mdb-input-init class="form-outline mb-4">

            <div class="row">
                <div class="col-12 col-md-6">
                    <label class="form-label ms-2" for="form3Example3"
                    >First name</label
                  >
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input
                      type="text"
                      id="form3Example3"
                      class="form-control form-control-lg"
                      placeholder="Enter your first name"
                    />

                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label ms-2" for="form3Example3"
                    >Last name</label
                  >
                    <input
                      type="text"
                      id="form3Example3"
                      class="form-control form-control-lg"
                      placeholder="Enter your last name"
                    />
                   
                  </div>
                </div>
              </div>
            <label class="form-label ms-2" for="form3Example3">Email address</label>

            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
          </div>

          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label ms-2" for="form3Example4">Password</label>

            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
          </div>

          

          <div class="text-center text-lg-start mt-4 pt-2  d-flex flex-column align-items-center">
            <button
              type="button"
              data-mdb-button-init
              data-mdb-ripple-init
              class="btn btn-lg btn-warning"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
            SignUp
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Already have an account?
              <a [routerLink]="['/login']" class="link-warning">Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
</div>