 <div class="bgFix">
     <!----------------------------------------------- IsetExams Section -->
 <section class="iset">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 iset-text">
                <h1>Iset Exams</h1>
                <p>Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit
                    amet, lobortis semper quam.</p>
                <a [routerLink]="['/contact']" class="btn btn-warning text-dark">Contact Us</a>
            </div>
            <div class="col-12 col-md-6 text-center py-4 ms-5 py-md-0 ms-md-0">
                <img src="assets/assets/images/logo.jpg" alt="Smart Watches"
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-------------------------------------------------------------------------------->


<!------------------------------------------------cards class-->
<h1 class="mt-5 text-center fw-bold ">Niveau Scolaire</h1>
<div class="container mb-5">
    <div class="row mt-4 cardAnimation" appInView >

        <div class="col-12 col-md-4 mb-3 mb-sm-0  p-1" >
            <div class="card-body d-flex justify-content-center p-2 rounded">
                <div class="card shadow-lg">
                    <div class="content">
                        <a [routerLink]="['/exams']" class="heading" style="width: 226px; height: 260px;">
                            1ère année
                        </a >

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-sm-0   p-1">
            <div class="card-body d-flex justify-content-center p-2 rounded">
                <div class="card shadow-lg">
                    <div class="content">
                        <a [routerLink]="['/section']"  class="heading" style="width: 226px; height: 260px;">
                            2ème année
                        </a >

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-sm-0   p-1">
            <div class="card-body d-flex justify-content-center p-2 rounded">
                <div class="card shadow-lg">
                    <div class="content">
                        <a [routerLink]="['/section']"  class="heading" style="width: 226px; height: 260px;">
                            3ème année
                        </a >

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!---------------------------------------------------------->

<!------------------------------Iset charguia-->
<section class="isetCh">
    <div class="container">
        <div class="row">
            <!-- Image Column -->
            <div class="col-12 col-md-6 py-4 order-md-1">
                <img src="assets/assets/images/172224318_236962274888336_8373541543201951931_n.jpg" alt="Smart Watches"
                    class="img-fluid " >
            </div>

            <!-- Text Column -->
            <div class="col-12 col-md-6 iset-text order-md-2">
                <h1>Iset Charguia</h1>
                <p>L'ISET Charguia, situé à Carthage, Tunis, en Tunisie, <br> propose des formations LMD (Licence,
                    Master, Doctorat) <br> avec quatre départements : Administration et Communication, Techniques
                    Juridiques, Management de l'Information et Informatique. L'établissement compte environ 960
                    étudiants inscrits.

                </p>
            
            </div>
        </div>
    </div>
</section>

<!------------------------  -------------------------->

 </div>
