<div class="bg">
    <div class="container">
      <div class="row minH d-flex justify-content-center align-content-center overflow-hidden">
        <div class="col-12 col-md-8 col-lg-6 text-warning bg-dark rounded p-4 m-4"
             style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
          <h1 class="text-center text-white">Add Exam</h1>
          <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="examName">Exam Title</label>
              <input type="text" class="form-control" id="examName" placeholder="Enter Exam Name" formControlName="examTitle">
              <div *ngIf="examForm.get('examTitle')?.invalid && examForm.get('examTitle')?.touched" class="text-danger">
                Exam title is required.
              </div>
            </div>
          
            <div class="form-group">
              <label>Subject</label>
              <input type="text" class="form-control" id="subjectName" placeholder="Enter Subject" formControlName="subject">
              <div *ngIf="examForm.get('subject')?.invalid && examForm.get('subject')?.touched" class="text-danger">
                Subject is required.
              </div>
            </div>
          
            <div class="form-group">
              <label>Year</label>
              <input type="number" min="2010" max="2024" class="form-control" id="examYear" formControlName="examYear" onkeydown="return false;">
              <div *ngIf="examForm.get('examYear')?.invalid && examForm.get('examYear')?.touched" class="text-danger">
                Valid year between 2010 and 2024 is required.
              </div>
            </div>
          
            <div class="form-group">
              <label for="classe">Classe</label>
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Choisir</label>
                <select class="form-select" id="inputGroupSelect01" formControlName="classe">
                  <option value="">choisissez un classe</option>
                  <optgroup label="1 ere anne">
                    <option value="1IT">1 ere IT</option>
                  </optgroup>
                  <optgroup label="2 eme">
                    <option value="DSI2">DSI</option>
                    <option value="RSI2">RSI</option>
                    <option value="SEM2">SEM</option>
                  </optgroup>
                  <optgroup label="3 eme">
                    <option value="DSI3">DSI</option>
                    <option value="RSI3">RSI</option>
                    <option value="SEM3">SEM</option>
                  </optgroup>
                </select>
                <div *ngIf="examForm.get('classe')?.invalid && examForm.get('classe')?.touched" class="text-danger">
                  Classe is required.
                </div>
              </div>
            </div>
          
            <div class="d-flex justify-content-center" #fileSelect>
              <div class="dropBox d-flex flex-column align-items-center p-3">
                <div class="fs-3">Upload your Exam</div>
                <small>File should be a PDF</small>
                <div class="fs-4">Drop files here</div>
                <small>or</small>
                <input type="file" class="fileBtn btn btn-warning" (change)="onFileSelected($event)">
                <div *ngIf="examForm.get('file')?.invalid && examForm.get('file')?.touched" class="text-danger">
                  Please upload a file.
                </div>
              </div>
            </div>
          
            <button class="btn btn-warning w-100 mt-3" type="submit" [disabled]="examForm.invalid">
              {{ examId ? 'Update Exam' : 'Add Exam' }}
            </button>
          </form>
          
          <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>
  