/*cards animation*/
.cardAnimation {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.cardAnimation.show {
  opacity: 1;
  transform: translateY(0);
}
/*-----------------*/
